html {
    font-size: 62.5%;
}

.pc {
    display: block;
}
.sp {
    display: none;
}

@media screen and (max-width: 750px) {
    html {
        font-size: 1.33vw;
    }
    .pc {
        display: none;
    }
    .sp {
        display: block;
    }
}

body {
    transition: all 0.7s;
    /* background-color: #000; */
    margin-bottom: 10rem;/* TO DO : delete */
}

.main {}

.container {
    max-width: 1080px;
    margin: auto;
}

.main_content {
    /* opacity: 0; */
    transition: 0.7s;
}

.main_content.show {
    opacity: 1;
}

img {
    max-width: 100%;
}

/* 
// section
*/

section {
    margin-top: 5rem;
}

.section__title {
    font-size: 5rem;
    text-align: center;
}