/* 
// FV (like JSON)
*/

.fv {
    margin: 3rem auto;
    transform: translateY(100%) scale(0.1);
    opacity: 0;
    transition: 0.5s;
}

.fv.show {
    transform: translateY(0%) scale(1);
    opacity: 1;
}

.textTyping {
    white-space: pre-line;
    font-size: 3rem;
    color: #fff;
    background-color: #1e1e1e;
    font-family: monospace;
    padding: 3rem;
    border: 1px solid #aaa;
}

.textTyping>span {
    display: none;
}

.textTyping>span.show {
    display: inline;
}

.textTyping>span:nth-last-child(2)::after {
    content: '_';
    display: inline;
    animation: flashing 1s steps(2, jump-none) infinite;
}

@keyframes flashing {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.terminalWindow {
    background-color: #aaa;
    font-size: 3rem;
    padding-top: 1rem;
}

.terminalWindow__tab {
    background-color: #fff;
    display: inline-block;
    border-radius: 1rem 1rem 0 0;
    margin-left: 2rem;
    padding: 0 1rem;
}

/* 
// top-image
*/

.main-title,
.sub-title {
    text-align: center;
}

.main-title {
    font-size: 5rem;
}

.sub-title {
    font-size: 3rem;
}

/* 
// works section
*/

.works__id-pass {
    text-align: center;
    font-size: 2rem;
}

.works__id-pass > strong {
    font-weight: bold;
    color: red;
    font-size: 1.25em;
}

.works__container {
    margin-top: 3rem;
}

.works__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.works__list__item--link {
    width: 30%;
    display: block;
}

.works__list__item {
    width: 100%;
    max-height: 80vh;
    overflow: hidden;
    transition: 0.7s ease-in-out;
    position: relative;
    box-shadow: 0rem 0rem 1rem #aaa;
    margin-bottom: 5rem;
}

.works__list__item:hover {
    border: 0px solid #000;
    box-shadow: 0rem 0rem 2rem #aaa;
}

.works__list__item:hover::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(100, 100, 100, 0.3);
    z-index: 100;
}


.works__list__item > img {
    max-width: 100%;
    width: 100%;
    object-fit: cover;
    transition: 0.7s;
    position: relative;
}

.works__list__item:hover > img {
    transform: translateY(-100rem);
}

.works__description {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    width: 90%;
    color: #fff;
    font-weight: bold;
    text-shadow: 0 0 0.5rem #1e1e1e;
    z-index: 200;
    opacity: 0;
    transition: 0.7s;
}

.works__list__item:hover .works__description {
    opacity: 1;
}

/* 
// apps section
*/

.app__list {
    display: flex;
    justify-content: space-between;
}

.app__list__item {
    width: 30%;
}

.app__list__item_title {
    font-size: 3.6rem;
    text-align: center;
}

.app__list__item_image {
    display: block;
    margin: auto;
}

.app__list__item_description {
    font-size: 2rem;
}

/* 
// skills section
*/

.skills__list {
    display: flex;
    flex-wrap: wrap;
    gap: 3%;
}

.skills__list__item {
    box-shadow: 0 0 1rem #ddd;
    width: 30%;
    border-radius: 2rem;
    margin-bottom: 5rem;
}

.skills__list__item > img {
    display: block;
    margin: auto;
    height: 50%;
}

.skills__stars,
.skills__years,
.skill__name {
    text-align: center;
}

.skills__stars {
    font-size: 3rem;
}

.skill__name ,
.skills__years {
    font-size: 2rem;
}

/* 
// career section
*/

.career__contents {
    display: flex;
    align-items: center;
    justify-content: center;
}

.career__years {
    width: 15%;
}

.career__years__item {
    font-size: 3rem;
    position: relative;
    position: sticky;
    top: 0rem;
    left: 5rem;
}

.career__description {
    border-left: 3px solid #000;
    padding: 3rem 0;
    padding-left: 5rem;
    position: relative;
    width: 70%;
    display: flex;
    align-items: center;
}

.career__description::before {
    content: "";
    display: block;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: #aaa;
    position: absolute;
    left: -1.15rem;
    top: 50%;
    transform: translateY(-50%);
}

.career__description--inner {
    display: flex;
    align-items: center;
    border: 0.5rem solid #000;
    border-radius: 2.5rem;
    position: relative;
    padding: 2rem;
}

.career__description--inner::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0%;
    border: 2rem solid transparent;
    border-right: 2rem solid #000;
    transform: translate(-100%, -50%);
}

.career__picture > img {
    object-fit: cover;
    width: 20rem;
    height: 20rem;
    border: 1px solid #000;
    border-radius: 50%;
}

.career__texts {
    font-size: 2rem;
    margin-left: 2rem;
}

/* 
// sns
*/

.sns_icons_list {
    display: flex;
    justify-content: center;
}

.sns_icon {
    max-width: 100px;
    margin: 0 5rem;
}