@media screen and (max-width:1000px) {
    .container {
        width: 100%;
    }
    
    header .logo {
        margin-left: 5%;
    }
    header nav {
        margin-right: 10%;
    }
    
    .grid {
        grid-template-columns: repeat(3, 30%);
        gap: 2.5%;
        width: 95%;
    }
    
    .skills .flex {
        flex-direction: column;
    }
    
    .contact .flex {
        width: 95%;
    }
    .contact .profile-image {
        width: 200px;
        height: 200px;
    }
    
}
