@charset "UTF-8";

#wrapper {
    max-width: 1500px;
    min-width: 375px;
    margin: auto;
    font-size: 10px;
}

#wrapper a {
    text-decoration: none;
    transition: .2s;
}

#wrapper a:hover {
    opacity: 0.8;
}

#wrapper img {
    max-width: 100%;
    display: block;
    width: fit-content;
    margin: auto;
}

#wrapper header,
#wrapper section,
#wrapper footer {
    width: fit-content;
    margin: auto;
}

#wrapper .header {
    margin: 20px auto;
}

#wrapper .cta {
    position: relative;
    margin: 100px auto;
}

#wrapper .cta_btn {
    position: absolute;
    bottom: 25px;
    right: 30px;
}

#wrapper .cta_btn {
    animation: anime1 0.5s ease 0s infinite alternate;
    transform-origin: center;
}

@keyframes anime1 {
    from {
        transform: scale(0.9, 0.9);
    }

    to {
        transform: scale(1, 1);
    }
}

#wrapper .intestines {
    position: relative;
    top: -100px;
    z-index: -100;
}

.point02_wrapper {
    position: relative;
}

.point02_gif {
    position: absolute;
}

.gif_01,
.gif_02 {
    bottom: 270px;
}

.gif_01 {
    left: 7%;
}

.gif_02 {
    right: 7%;
}

#wrapper .voice {
    margin: 100px auto 0;
}

#wrapper .data {
    margin-bottom: 100px;
}

#wrapper .footer {
    margin-top: 10em;
}

#wrapper .footer_links {
    display: flex;
}

@media screen and (max-width: 1500px) {
    #wrapper {
        font-size: 0.66vw;
    }

    #wrapper .cta_btn {
        width: 95%;
        bottom: 5%;
        right: 2.5%;
    }

    #wrapper .cta {
        margin: 10em auto;
        padding: 0 2em;
    }

    #wrapper .header {
        margin: 2em auto;
    }

    #wrapper .intestines {
        top: -10em;
    }

    #wrapper .gif_01,
    #wrapper .gif_02 {
        width: 45%;
        bottom: 21.5%;
    }

    #wrapper .gif_01 {
        left: 5%;
    }

    #wrapper .gif_02 {
        right: 5%;
    }

    #wrapper .voice {
        margin: 10em auto 0;
    }
    
    #wrapper .data {
        margin-bottom: 10em;
    }
    
}